
<%- include("partials/header"); -%>
    <h1>Edit</h1>
    <form class="" action="/posts/edit/:postId" ?_method="PUT" method="POST">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle" >
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="90"  ></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button" href="/">Update</button>
    </form>

<%- include("partials/footer"); -%>
